/.venv
/arduCam.py
/autoDarts
/BESTBEST
/BestSolution.py
/calibration
/calibration.yaml
/CameraCalibrationBest
/captured_from_camera_3.png
/DartAppBEST
/Dartboard.png
/DartBoard1280.jpg
/Dartboard1280NEW.png
/DartsTriangulation.py
/dart_parameter_tests
/dart_parameter_testsOLDONE
/detected_darts.json
/detected_dartsSTATICPoints.json
/kodos.py
/ONLYTESTING.py
/parameter_comparisonsGOOD
/PointsVisualization.py
/rsz_11dartboard.png
/stereoCalibration
/TESTOVANIE
/triangulated_darts.json
/triangulated_results.json